<!-- Loader section  -->
<div flex layout="column">
  <md-content flex>
    <!-- Title -->
    <md-toolbar>
      <div class="md-toolbar-tools">Бот лайкер</div>
    </md-toolbar>
    <!-- Dark Inputs -->
    <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
      <md-input-container>
          <label>Название задачи</label>
          <input ng-model="_ctrl.task.title">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input ng-model="_ctrl.task.email" type="email">
      </md-input-container>
    </md-content>
    <!-- Light Form -->
  <!-- end Loader Section -->
</div>
